<configuration>
    <if condition='isDefined("LOGSTASH_HOST")'>
        <then>
            <property scope="context" name="LOGSTASH_HOST" value="${LOGSTASH_HOST:-localhost}"/>
            <property scope="context" name="LOGSTASH_PORT" value="${LOGSTASH_PORT:-4560}"/>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                    <level>ERROR</level>
                </filter>
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>CON LOGSTASH %mdc %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
                    </Pattern>
                </layout>
            </appender>
            <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${LOGSTASH_HOST}:${LOGSTASH_PORT}</destination>
                <keepAliveDuration>5
                    seconds
                </keepAliveDuration>
                <reconnectionDelay>1 second</reconnectionDelay>
                <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
            </appender>
            <root level="DEBUG" additivity="false">
                <appender-ref ref="STDOUT"/>
                <appender-ref ref="LOGSTASH"/>
            </root>
        </then>
    </if>
    <if condition='!isDefined("LOGSTASH_HOST")'>
        <then>
            <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <Pattern>LOCAL %d{HH:mm:ss.SSS} %green(%-5level) %magenta(${PID}) --- [%15.15thread]
                        %cyan(%-50.50logger{40}) : %msg%n
                    </Pattern>
                </layout>
            </appender>
            <root level="DEBUG" additivity="false">
                <appender-ref ref="STDOUT"/>
            </root>
        </then>
    </if>
</configuration>
